@import 'tailwindcss';

/* Настраиваем переключение тёмной темы по классу .dark */
@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* Фон - чистый светлый */
  --color-bg: #c3cbe8;

  /* Поверхности - очень светлый серо-голубой */
  --color-surface: #f8fafc;

  /* Основной цвет (Primary) - тот же яркий синий (узнаваемость бренда) */
  --color-primary: #2563eb;
  /* hover */
  --color-hover: #194096;
  /* Второстепенный - более насыщенный бирюзовый для контраста */
  --color-secondary: #0891b2;

  /* Текст - темно-синий (как фон из темной темы) */
  --color-text-primary: #0b1120;

  /* Текст второстепенный */
  --color-text-secondary: #031733;

  /* Границы */
  --color-border: #434826;
}

.dark {
  /* Фон (Background) - глубокий синий */
  --color-bg: #131e3a;

  /* Поверхности (Cards, Modals) - чуть светлее фона */
  --color-surface: #1e293b;

  /* Основной цвет (Primary) - яркий электрический синий для кнопок/ссылок */
  --color-primary: #3b82f6;
  /* hover */
  --color-hover: #2958a3;

  /* Второстепенный (Secondary) - бирюзовый/голубой оттенок */
  --color-secondary: #06b6d4;

  /* Текст (Text) - основной */
  --color-text-primary: #f1f5f9;

  /* Текст (Text) - второстепенный (подписи, метки) */
  --color-text-secondary: #9da6b1;

  /* Границы (Borders) */
  --color-border: #6b5227;
}

@theme inline {
  --color-bg: var(--color-bg);
  --color-surface: var(--color-surface);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
  --color-border: var(--color-border);
  --color-hover: var(--color-hover);
}
body {
  display: flex;
  min-width: 320px;
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
.green {
  background: green;
}
.yellow {
  background: yellow;
}
.red {
  background: red;
}
/* анимация появления карточки  */
@keyframes card-drop {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }

  60% {
    opacity: 1;
    transform: translateY(6px);
  }

  100% {
    transform: translateY(0);
  }
}
/* анимация свойсв картчоки  */
@keyframes feature-flip {
  0% {
    transform: rotateX(0);
  }

  50% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0);
  }
}
