@import 'tailwindcss';

/* Настраиваем переключение тёмной темы по классу .dark */
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --gradient-button: linear-gradient(
    90deg,
    #0891b2 0%,
    #22d3ee 55%,
    #67e8f9 100%
  );
  --gradient-modal-danger: linear-gradient(
    180deg,
    #c31e36 30%,
    #b1bcbd 50%,
    #c31e36 70%
  );
  --gradient-modal-success: linear-gradient(
    180deg,
    #08754d 30%,
    #b1bcbd 50%,
    #08754d 70%
  );
}

.dark {
  --app-bg: #050816;
  --card-bg: #1e293b;
  --card-bg-secondary: #1e293b;
  --border-card: #334155;

  --text-primary: #f8fafc;
  --text-secondary: #cbd5e1;
  --text-muted: #94a3b8;

  --color-cyan: #22d3ee;
  --color-cyan-light: #67e8f9;
  --color-cyan-dark: #0891b2;
  --color-success: #34d399;
  --color-warning: #fbbf24;
  --color-danger: #fb7185;

  --btn-ff-bg: rgba(244, 63, 94, 0.12);
  --btn-ff-border: rgba(251, 113, 133, 0.4);
  --btn-ff-text: #f8fafc;

  --select-control-bg: #050816;
  --select-control-border: #334155;
  --select-control-border-focused: #67e8f9;
  --select-control-shadow-focused: #22d3ee66;

  --select-text: #f8fafc;
  --select-placeholder: #94a3b8;

  --select-menu-bg: #111827;
  --select-menu-border: #334155;

  --select-option-text: #f8fafc;
  --select-option-bg: #111827;

  --select-option-bg-focused: #1e293b;
  --select-option-text-focused: #f8fafc;
  --select-option-border-focused: #67e8f9;

  --select-option-bg-selected: #164e63;
  --select-option-text-selected: #f8fafc;

  --select-icon: #94a3b8;
  --select-icon-focused: #67e8f9;

  --success-green: #08754d;
  --warning-yellow: #cd9b1b;
  --danger-red: #c31e36;
}

@theme inline {
  --color-app-bg: var(--app-bg);
  --color-card-bg: var(--card-bg);
  --color-card-bg-secondary: var(--card-bg-secondary);
  --color-border-card: var(--border-card);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);
  --color-cyan: var(--color-cyan);
  --color-cyan-light: var(--color-cyan-light);
  --color-cyan-dark: var(--color-cyan-dark);
  --color-success: var(--color-success);
  --color-warning: var(--color-warning);
  --color-danger: var(--color-danger);
  --color-btn-ff-bg: var(--btn-ff-bg);
  --color-btn-ff-border: var(--btn-ff-border);
  --color-btn-ff-text: var(--btn-ff-text);

  --color-select-control-bg: var(--select-control-bg);
  --color-select-control-border: var(--select-control-border);
  --color-select-control-border-focused: var(--select-control-border-focused);
  --color-select-control-shadow-focused: var(--select-control-shadow-focused);
  --color-select-text: var(--select-text);
  --color-select-placeholder: var(--select-placeholder);
  --color-select-menu-bg: var(--select-menu-bg);
  --color-select-menu-border: var(--select-menu-border);
  --color-select-option-text: var(--select-option-text);
  --color-select-option-bg: var(--select-option-bg);
  --color-select-option-bg-focused: var(--select-option-bg-focused);
  --color-select-option-text-focused: var(--select-option-text-focused);
  --color-select-option-border-focused: var(--select-option-border-focused);
  --color-select-option-bg-selected: var(--select-option-bg-selected);
  --color-select-option-text-selected: var(--select-option-text-selected);
  --color-select-icon: var(--select-icon);
  --color-select-icon-focused: var(--select-icon-focused);

  --color-success-green: var(--success-green);
  --color-warning-yellow: var(--warning-yellow);
  --color-danger-red: var(--danger-red);
}

html,
body {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
.green {
  background: #0f6143;
  border: 1px solid #50d5a4;
}
.yellow {
  background: #cd9b1b;
  border: 1px solid #fcd34d;
}
.red {
  background: #953745;
  border: 1px solid #fca5a5;
}
/* анимация появления карточки  */
@keyframes card-drop {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }

  60% {
    opacity: 1;
    transform: translateY(6px);
  }

  100% {
    transform: translateY(0);
  }
}
/* анимация свойсв картчоки  */
@keyframes feature-flip {
  0% {
    transform: rotateX(0);
  }

  50% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0);
  }
}
@layer base {
  ::-webkit-scrollbar {
    width: 10px;
  }

  .scrollbar-custom::-webkit-scrollbar {
    /* width: 4px; */
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #0f172a; /* slate-900 */
  }

  ::-webkit-scrollbar-thumb {
    background: #334155; /* slate-700 */
    border-radius: 999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #475569;
  }
}
